@page "/"

@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Popups
@inject IJSRuntime jsRuntime;

<p> Size-modes for application </p>
<p> This demo shows the Size-Modes applied for an entire application </p>

<button @onclick="callOnTouch">Touch Mode</button>
<button @onclick="callOnMouse">Mouse Mode</button>
<br />
<br/>
<div>
    <SfCalendar TValue="DateTime?" Value="@DateValue"></SfCalendar>
</div>

<div>
    <SfButton> Button </SfButton>
</div>

<div>
    <SfCheckBox Label="checked" @bind-Checked="isChecked"></SfCheckBox>

    @code
    {
        private bool isChecked = true;
    }
</div>


@code {

    public DateTime? DateValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 28);

    private async void callOnTouch(MouseEventArgs args)
    {
       await jsRuntime.InvokeAsync<string>("onTouch");
    }
    private async void callOnMouse(MouseEventArgs args)
    {
        await jsRuntime.InvokeAsync<string>("onMouse");
    }
}